<div class="row">
  <div class="col-md-12 bg-dark p-2">
    <span class="text-light">Günlük Rapor</span>
    <div class="form-inline float-right m-0 p-0">
      <input type="date" class="form-control" name="formTarihi" [(ngModel)]="todayDate" (change)="dateChange()">
    </div>
  </div>

  <div class="col-md-12 bg-success p-2" *ngIf="gunlukRapor.isMakinesiRapor.length<=0">
    <div class="spinner-border spinner-border-sm text-light mr-2" role="status"></div>
    <div class="spinner-grow spinner-grow-sm text-light mr-2" role="status"></div>
    <span class="text-white">Yükleniyor lütfen bekleyin.</span>
  </div>

  <br />


  <div class="container-fluid">

    <table *ngIf="gunlukRapor.isMakinesiRapor.length>0" class="table  table-sm">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th>Makina Cinsi</th>
          <th>Personel</th>
          <th>Çalışılan Firma</th>
          <th>Yapılan İşin Tanımı</th>
          <th>Çalışma Miktarı</th>
          <th>İmza</th>
          <th>
            <button class="btn btn-primary btn-sm mr-2"
              (click)="excelExport(gunlukRapor.isMakinesiRapor)">Excel</button>
          </th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of gunlukRapor.isMakinesiRapor; index as i">
          <th>{{ i + 1 }}</th>
          <th>{{ value.isMakinesi }}</th>
          <td>{{ value.personel }}</td>
          <td>{{ value.firma }}</td>
          <td>{{ value.yapilinIsTanimi }}</td>
          <td>{{ value.calismaSaati + "/" + value.calismaSekli }}</td>
          <td>{{ value.imza  }}</td>
          <td>
            <div class="btn-group">
            </div>
          </td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="container-fluid">

    <table id="excel-table" *ngIf="gunlukRapor.tirKamyonRapor.length>0" class="table table-bordered table-sm">
      <thead class="thead-dark">
        <tr>
          <th>#</th>
          <th class="text-center" *ngFor="let item of tirKamyonThead"> {{item}} </th>
          <th>
            <button class="btn btn-primary btn-sm mr-2" (click)="excelExport(gunlukRapor.tirKamyonRapor)">Excel</button>
            <button class="btn btn-primary btn-sm" (click)="generatePDF()">Pdf</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let value of tablo;index as i">
          <th>{{ i + 1 }}</th>
          <th class="text-center" *ngFor="let item of value">{{item}}</th>

        </tr>
      </tbody>
    </table>

  </div>
</div>
