<div class="row">
  <div class="col-md-12 bg-dark p-2">
    <h5 class="text-white">
      Giden Yakıt Formu {{ editing ? "Düzenle" : "Oluştur" }}
    </h5>
  </div>

  <div class="col-md-12 bg-danger p-2" *ngIf="errorMessage">
    <h6 class="text-white">{{ errorMessage }}</h6>
  </div>

  <div class="col-md-12 bg-success p-2" *ngIf="!gidenYakitFormu">
    <div
      class="spinner-border spinner-border-sm text-light mr-2"
      role="status"
    ></div>
    <div
      class="spinner-grow spinner-grow-sm text-light mr-2"
      role="status"
    ></div>

    <span class="text-white">Yükleniyor lütfen bekleyin.</span>
  </div>

  <div class="col-md-12 mt-2">
    <form #form="ngForm" (ngSubmit)="save(form)" *ngIf="gidenYakitFormu">
      <div class="row">
        <div class="col-6">
          <div class="card">
            <div class="card-header">
              Genel Bilgiler
            </div>
            <div class="card-body">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Fiş No</span
                  >
                </div>
                <input
                  type="text"
                  class="form-control"
                  name="siraNo"
                  [(ngModel)]="gidenYakitFormu.fisNo"
                  required
                />
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Tarih</span
                  >
                </div>
                <input
                  type="date"
                  class="form-control"
                  name="formTarihi"
                  [(ngModel)]="gidenYakitFormu.formTarihi"
                  required
                />
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <div class="form-check form-check-inline">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        [(ngModel)]="isTirMi"
                        name="inlineRadioOptions"
                        id="inlineRadio1"
                        value="option1"
                      />
                      <label class="form-check-label" for="inlineRadio1">{{
                        isTirMi ? "Tır Kamyon" : "İş Makinesi"
                      }}</label>
                    </div>
                  </div>
                </div>

                <select
                  *ngIf="!isTirMi"
                  [(ngModel)]="gidenYakitFormu.isMakinesiPlakaId"
                  class="form-control"
                  id="inputGroupSelect01"
                  name="personelId"
                  required
                >
                  <option
                    *ngFor="let item of isMakinesiList"
                    [ngValue]="item._id"
                    >{{ item.makineCinsi + " - " + item.plaka }}</option
                  >
                </select>


                <select
                  *ngIf="isTirMi"
                  [(ngModel)]="gidenYakitFormu.tirKamyonPlakaId"
                  class="form-control"
                  id="inputGroupSelect01"
                  name="personelId"
                  required
                >
                  <option
                    *ngFor="let item of tirKamyonList"
                    [ngValue]="item._id"
                    >{{ item.aracCinsi + " - " + item.plaka }}</option
                  >
                </select>

                <button
                  type="button"
                  class="btn btn-primary ml-2"
                  [routerLink]="[  isTirMi ?  newTirBaseUrl : newIsmakinesiUrl, 'create']"
                >
                  Yeni Araç ekle
                </button>
              </div>



              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Verilen Yakıt</span
                  >
                </div>
                <input
                  type="number"
                  class="form-control"
                  name="yuklemeYeri"
                  [(ngModel)]="gidenYakitFormu.verilenYakitLitre"
                  required
                />
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card">
            <div class="card-header">
              Araç bilgileri
            </div>
            <div class="card-body">
              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Yakıtı Veren Personel</label
                  >
                </div>
                <select
                  [(ngModel)]="gidenYakitFormu.yakitiVerenPersonelId"
                  class="form-control"
                  id="inputGroupSelect01"
                  name="personelId"
                  required
                >
                  <option
                    *ngFor="let item of personelList"
                    [ngValue]="item._id"
                    >{{
                      item.unvan + " - " + item.name + " " + item.surname
                    }}</option
                  >
                </select>

                <button
                  type="button"
                  class="btn btn-primary ml-2"
                  [routerLink]="[newPersonelBaseUrl, 'create']"
                >
                  Yeni Personel ekle
                </button>
              </div>

              <div class="input-group mb-4">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01"
                    >Yakıtı Alan Personel</label
                  >
                </div>
                <select
                  [(ngModel)]="gidenYakitFormu.yakitiAlanPersonelId"
                  class="form-control"
                  id="inputGroupSelect01"
                  name="personelId"
                  required
                >
                  <option
                    *ngFor="let item of personelList"
                    [ngValue]="item._id"
                    >{{
                      item.unvan + " - " + item.name + " " + item.surname
                    }}</option
                  >
                </select>

                <button
                  type="button"
                  class="btn btn-primary ml-2"
                  [routerLink]="[newPersonelBaseUrl, 'create']"
                >
                  Yeni Personel ekle
                </button>
              </div>

              <div class="input-group mt-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-default"
                    >Notlar</span
                  >
                </div>
                <textarea
                  type="text"
                  class="form-control"
                  name="notlar"
                  [(ngModel)]="gidenYakitFormu.notlar"
                ></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="btn-group mt-4">
        <button
          name="addButton"
          type="submit"
          class="btn btn-primary"
          [class.disabled]="isLoading"
          [disabled]="isLoading"
        >
          <span
            name="loadingSpan"
            class="spinner-border spinner-border-sm"
            role="status"
            *ngIf="isLoading"
          ></span>
          {{ editing ? "Düzenle" : "Oluştur" }}
        </button>
        <button type="button" [routerLink]="[baseUrl]" class="btn btn-warning">
          Vazgeç
        </button>
      </div>
    </form>
  </div>
</div>
