<div class="row">
  <div class="col-md-12 bg-dark p-2">
    <span class="text-light">Firma Rapor</span>
    <div class="form-inline float-right m-0 p-0">

      <div class="btn-group  mr-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="excelExportAll()">Tüm Excel</button>
        <button type="button" class="btn btn-success btn-sm" (click)="pdfAllExport()">Tüm Pdf</button>
      </div>

      <div class="input-group input-group-sm mr-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Şantiye</label>
        </div>
        <select (change)="dateChange()" [(ngModel)]="santiyeId" class="form-control form-control-sm" #santiyeId1
          id="inputGroupSelect01" name="santiyeId" required>
          <option *ngFor="let item of santiyeList" [ngValue]="item._id">{{
            item.name
          }}</option>
        </select>
      </div>

      <div class="input-group input-group-sm mr-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Çalışılan Firma Ünvanı</label>
        </div>
        <select (change)="dateChange()" [(ngModel)]="firmaId" class="form-control form-control-sm" #firmaId1
          id="inputGroupSelect01" name="firmaId" required>
          <option *ngFor="let item of firmaList" [ngValue]="item._id">{{
            item.name
          }}</option>
        </select>
      </div>

      <input type="date" class="form-control form-control-sm mr-2" name="formTarihi1" [(ngModel)]="startDate"
        (change)="dateChange()">
      <input type="date" class="form-control form-control-sm" name="formTarihi2" [(ngModel)]="lastDate"
        (change)="dateChange()">
    </div>
  </div>

  <div class="col-md-12 bg-danger p-2" *ngIf="errorMessage">
    <h6 class="text-white">{{ errorMessage }}</h6>
  </div>

  <div class="col-md-12 bg-success p-2" *ngIf="isLoading">
    <div class="spinner-border spinner-border-sm text-light mr-2" role="status"></div>
    <div class="spinner-grow spinner-grow-sm text-light mr-2" role="status"></div>
    <span class="text-white">Yükleniyor lütfen bekleyin.</span>
  </div>

  <div id="allTable" class="container-fluid">

    <div class="container-fluid" *ngIf="!isLoading">
      <div class="card shadow mb-4 mt-4" *ngFor="let table of tabloList">
        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 font-weight-bold text-dark">
            {{santiyeList[santiyeId1.selectedIndex].name}} Şantiyesi -
            {{firmaList[firmaId1.selectedIndex].name}} {{startDate | date: "dd MMMM yyyy"}} -
            {{lastDate | date: "dd MMMM yyyy"}} {{table.data.name}} Çizelgesi
          </h6>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="excelExport(excelTable1)">Excel</button>
            <button type="button" class="btn btn-success btn-sm" (click)="pdfExport(excelTable1)">Pdf</button>
          </div>

        </div>

        <div class="card-body p-2">
          <div class="table-responsive">
            <table id="excelTable1" #excelTable1 class="table table-sm table-bordered" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th class="text-center" *ngFor="let item of table.thead"> {{item}} </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of table.line | slice:0:table.line.length-1 ;index as i">
                  <td>{{ i + 1 }}</td>
                  <td class="text-center" *ngFor="let item of value">{{item}}</td>
                </tr>
                <tr *ngFor="let value of table.line | slice:table.line.length-1:table.line.length ;index as i">
                  <td></td>
                  <th class="text-center" *ngFor="let item of value">{{item}}</th>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
      <div class="btn-group mt-4" *ngIf="tabloList.length>0">
        <button name="addButton" type="submit" class="btn btn-primary" [class.disabled]="isLoadHakedisBtn" (click)="setHakedis()"
          [disabled]="isLoadHakedisBtn" >
          <span name="loadingSpan" class="spinner-border spinner-border-sm" role="status" *ngIf="isLoadHakedisBtn"></span>
          Hakedişe Aktar
        </button>

      </div>

    </div>
  </div>


</div>

<ng-template #notShow>
  <td></td>
</ng-template>


<!--


<div *ngIf="show; else notShow">
  <p>
    Show this only if "show" is true
  </p>
</div>

<ng-template #notShow>
  <p>
    Show this only if "show" is not true
  </p>
</ng-template>


-----


<ng-template
  *ngIf="show;then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>
  <p>
    Show this only if "show" is true
  </p>
</ng-template>

<ng-template #notShowBlock>
  <p>
    Show this only if "show" is not true
  </p>
</ng-template>



 -->
