<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <img src="assets/logo.png" routerLink="/main/home" height="60" class="ml-2" />

      <!-- <h3>Kurt Yapı Muhasebe</h3> -->
    </div>

    <ul class="list-unstyled components" id="homeSubmenu">
      <li>
        <a [routerLink]="[urls.baseUrlIsmakinesi]" routerLinkActive="active">İş Makinaları</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlOzelbinekarac]" routerLinkActive="active">Özel Binek Araçlar</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlTirKamyon]" routerLinkActive="active">Tır Kamyonlar</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlFirma]" routerLinkActive="active">Firmalar</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlPersonel]" routerLinkActive="active">Personel</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlDokumSahasi]" routerLinkActive="active">Döküm Sahaları</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlIsBirimi]" routerLinkActive="active">İş Birimi</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlFormTuru]" routerLinkActive="active">Form Turu</a>
      </li>
      <li>
        <a [routerLink]="[urls.baseUrlSantiye]" routerLinkActive="active">Santiye</a>
      </li>      <li>
        <a [routerLink]="[urls.baseUrlMalzemeCinsi]" routerLinkActive="active">Malzeme Cinsi</a>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <i class="fas fa-align-left"></i>
          <span></span>
        </button>

        <button class="navbar-toggler" style="color: aliceblue;" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="authService.isTokenValid">
              <a class="nav-link" routerLink="/main/home" routerLinkActive="active">Ana Sayfa</a>
            </li>
            <li class="nav-item" *ngIf="authService.isTokenValid">
              <a class="nav-link" routerLink="/muhasebe" routerLinkActive="active">Formlar ve Raporlar</a>
            </li>
            <li class="nav-item" *ngIf="authService.isTokenValid">
              <a class="nav-link" routerLink="/admin" routerLinkActive="active">Veri Tabanı</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="[ authService.isTokenValid ? '/user/profile' :'/main/login']"
                routerLinkActive="active">
                {{authService.isTokenValid ? authService.currentUser.name !==undefined?  authService.currentUser.name + " " + authService.currentUser.surname :"Yükleniyor..." : "Giriş Yap"}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" (click)="authService.logout()"
                *ngIf="authService.isTokenValid">Çıkış Yap</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
