<div class="row">
  <div class="col-md-12 bg-dark p-2">
    <span class="text-light">Günlük Rapor</span>
    <div class="form-inline float-right m-0 p-0">

      <div class="btn-group  mr-2">
        <button type="button" class="btn btn-primary btn-sm" (click)="excelExportAll()">Tüm Excel</button>
        <button type="button" class="btn btn-success btn-sm" (click)="pdfAllExport()">Tüm Pdf</button>
      </div>

      <div class="input-group input-group-sm mr-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Şantiye</label>
        </div>
        <select (change)="dateChange()" [(ngModel)]="santiyeId" class="form-control form-control-sm" #santiyeId1
          id="inputGroupSelect01" name="santiyeId" required>
          <option *ngFor="let item of santiyeList" [ngValue]="item._id">{{
            item.name
          }}</option>
        </select>
      </div>

      <div class="input-group input-group-sm mr-2">
        <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Çalışılan Firma Ünvanı</label>
        </div>
        <select (change)="dateChange()" [(ngModel)]="firmaId" class="form-control form-control-sm" #firmaId1
          id="inputGroupSelect01" name="firmaId" required>
          <option *ngFor="let item of firmaList" [ngValue]="item._id">{{
            item.name
          }}</option>
        </select>
      </div>

      <input type="date" class="form-control form-control-sm mr-2" name="formTarihi1" [(ngModel)]="startDate"
        (change)="dateChange()">
      <input type="date" class="form-control form-control-sm" name="formTarihi2" [(ngModel)]="lastDate"
        (change)="dateChange()">
    </div>
  </div>

  <div class="col-md-12 bg-success p-2" *ngIf="isLoading">
    <div class="spinner-border spinner-border-sm text-light mr-2" role="status"></div>
    <div class="spinner-grow spinner-grow-sm text-light mr-2" role="status"></div>
    <span class="text-white">Yükleniyor lütfen bekleyin.</span>
  </div>

  <div id="allTable" class="container-fluid">

    <div class="container-fluid" *ngIf="!isLoading">

      <div class="card shadow mb-4 mt-4">
        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 font-weight-bold text-dark">
            {{santiyeList[santiyeId1.selectedIndex].name}} Şantiyesi -
            {{firmaList[firmaId1.selectedIndex].name}} {{startDate | date: "dd MMMM yyyy"}} -
            {{lastDate | date: "dd MMMM yyyy"}} Çalışma (Pauntaj) Çizelgesi
          </h6>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="excelExport(excelTable1)">Excel</button>
            <button type="button" class="btn btn-success btn-sm" (click)="pdfExport(excelTable1)">Pdf</button>
          </div>

        </div>

        <div class="card-body p-2">
          <div class="table-responsive">
            <table id="excelTable1" #excelTable1 class="table table-sm table-bordered" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th class="text-center" *ngFor="let item of tabloThead"> {{item}} </th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of tablo;index as i">
                  <td>{{ i + 1 }}</td>
                  <td class="text-center" *ngFor="let item of value">{{item}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>


    </div>

    <div class="container-fluid" *ngIf="!isLoading">

      <div class="card shadow mb-4 mt-4">
        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 font-weight-bold text-dark">
            {{santiyeList[santiyeId1.selectedIndex].name}} Şantiyesi -
            {{firmaList[firmaId1.selectedIndex].name}} {{startDate | date: "dd MMMM yyyy"}} -
            {{lastDate | date: "dd MMMM yyyy"}} Çalışma (Pauntaj) Çizelgesi
          </h6>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="excelExport(excelTable2)">Excel</button>
            <button type="button" class="btn btn-success btn-sm" (click)="pdfExport(excelTable2)">Pdf</button>
          </div>

        </div>

        <div class="card-body p-2">
          <div class="table-responsive">
            <table id="excelTable2" #excelTable2 class="table table-sm table-bordered" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th class="text-center" *ngFor="let item of tabloThead3"> {{item}} </th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of tablo3;index as i">
                  <td>{{ i + 1 }}</td>
                  <td class="text-center" *ngFor="let item of value">{{item}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>


    </div>

    <div class="container-fluid" *ngIf="!isLoading">

      <div class="card shadow mb-4 mt-4">
        <div class="card-header py-2 d-flex flex-row align-items-center justify-content-between">

          <h6 class="m-0 font-weight-bold text-dark">
            Fiyatlandırma
          </h6>
          <div class="btn-group">
            <button type="button" class="btn btn-primary btn-sm" (click)="excelExport(excelTable3)">Excel</button>
            <button type="button" class="btn btn-success btn-sm" (click)="pdfExport(excelTable3)">Pdf</button>
          </div>

        </div>

        <div class="card-body p-2">
          <div class="table-responsive">
            <table id="excelTable3" #excelTable3 class="table table-sm table-bordered" width="100%" cellspacing="0">
              <thead class="thead-dark">
                <tr>
                  <th>#</th>
                  <th>Makina Cinsi</th>
                  <th>Çalışma Saati</th>
                  <th>Birim Fiyatı</th>
                  <th>Toplam</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let value of tablo2;index as i">
                  <td>{{ i + 1 }}</td>
                  <td class="text-center" *ngFor="let item of value | slice:0:2; let i=index">{{item}}</td>
                  <td *ngIf="value[0]!=='Toplam' else notShow">
                    <input type="number" name="birim" #birim class="form-control form-control-sm"
                      (change)="changeBirim(i)" [(ngModel)]="value[2]"></td>
                  <td>{{value[3] | currency:'₺ '}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>


    </div>

  </div>
</div>

<ng-template #notShow>
  <td></td>
</ng-template>


<!--


<div *ngIf="show; else notShow">
  <p>
    Show this only if "show" is true
  </p>
</div>

<ng-template #notShow>
  <p>
    Show this only if "show" is not true
  </p>
</ng-template>


-----


<ng-template
  *ngIf="show;then showBlock; else notShowBlock">
</ng-template>

<ng-template #showBlock>
  <p>
    Show this only if "show" is true
  </p>
</ng-template>

<ng-template #notShowBlock>
  <p>
    Show this only if "show" is not true
  </p>
</ng-template>



 -->
